Data from "[List of the Most common English words](https://github.com/dolph/dictionary)".

In [2]:
import pandas as pd
import os

In [3]:
with open("C:/Users/Matteo/Python-projects/data-analysis-tests/data/project_words/words.txt", "r") as file:
    words = file.read().splitlines()

In [4]:
def calculate_value(word):
    return sum(ord(char) - ord('a') + 1 for char in word.lower())

In [5]:
df = pd.DataFrame({
    'Word': words, 
    'char_count': [len(word) for word in words],
    'Value': [calculate_value(word) for word in words]})

In [6]:
df.set_index('Word', inplace=True) 
df.to_csv('words.csv') # create the csv

In [7]:
# If you want to upload the csv, here it is
# df = pd.read_csv('words.csv', index_col='Word')

In [8]:
df.head()

        char_count  Value
Word
aa               2      2
aah              3     10
aahed            5     19
aahing           6     40
aahs             4     29

### How many elements are there in the dataset?

In [10]:
df.columns # tells me which columns exist and

Index(['char_count', 'Value'], dtype='object')

In [11]:
df.info # gives me a slightly more exhaustive preview of the dataset (head 5, tail 5, no. rows, no. cols excluding index)

<bound method DataFrame.info of            char_count  Value
Word
aa                  2      2
aah                 3     10
aahed               5     19
aahing              6     40
aahs                4     29
...               ...    ...
zymotic             7    111
zymurgies           9    143
zymurgy             7    135
zyzzyva             7    151
zyzzyvas            8    170

[172823 rows x 2 columns]>

In [12]:
df.info() # concise overview of the dataset

<class 'pandas.core.frame.DataFrame'>
Index: 172823 entries, aa to zyzzyvas
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   char_count  172823 non-null  int64
 1   Value       172823 non-null  int64
dtypes: int64(2)
memory usage: 4.0+ MB

In [13]:
df.size # gives me the total number of elements = cells, i.e. rows * cols

345646

In [14]:
df.shape #gives me no. rows, no. cols

(172823, 2)

### What is the value of the word `microspectrophotometry`?

In [16]:
# takes the index value as an argument, and then the column from which the row value should be fetched from.
df.loc["microspectrophotometries", "Value"] 
# Access a group of rows and columns by label(s) or a boolean array.

317

In [17]:
# Also, loc can also take lists as inputs (in the index).
df.loc[["pinfish","glowing"]]

         char_count  Value
Word
pinfish           7     81
glowing           7     87

### What is the highest possible value of a word? And some other long words

In [19]:
df.max()
df["Value"].max()

319

In [20]:
# Accessing data based on a specific criteria, i.e. value of Value exactly 319.
df[df["Value"]==319]

# or
df.loc[df["Value"]==319]

                         char_count  Value
Word
reinstitutionalizations          23    319

In [21]:
# Same, but with multiple conditions
df[(df["Value"] < 319) & (df["Value"] >= 300)]

                           char_count  Value
Word
constitutionalizations             22    305
deinstitutionalizations            23    305
immunoelectrophoretically          25    307
intersubstitutabilities            23    303
microspectrophotometers            23    308
microspectrophotometries           24    317
microspectrophotometry             22    309
otorhinolaryngologists             22    307
overintellectualizations           24    307
photophosphorylations              21    304
reinstitutionalization             22    300

In [22]:
# the describe method gives summary statistics for all the numerical columns in the df
df.describe()

          char_count          Value
count  172823.000000  172823.000000
mean        9.087564     107.753441
std         2.818334      39.317855
min         2.000000       2.000000
25%         7.000000      80.000000
50%         9.000000     103.000000
75%        11.000000     131.000000
max        28.000000     319.000000

In [23]:
df[df["char_count"]==28] # longest word in the list!

                              char_count  Value
Word
ethylenediaminetetraacetates          28    287

In [46]:
df["Value"].mode() # to calculate the mode value for column Value

0    93
Name: Value, dtype: int64

In [52]:
df["Value"].value_counts() 
# gives me the head and tail of the value counts. There are 1965 rows that have 93 as Value.
# Add .head() or .tail() depending on whether you want the topN or bottomN values.

Value
93     1965
100    1921
95     1915
99     1907
92     1902
       ...
287       1
291       1
294       1
5         1
278       1
Name: count, Length: 303, dtype: int64

In [154]:
df.loc[df["Value"]==274].sort_values(by="char_count") # filter and then sort, sequencing the operations with the dots

                       char_count  Value  value_ratio
Word
overprotectivenesses           20    274    13.700000
countercountermeasure          21    274    13.047619
psychophysiologically          21    274    13.047619

In [156]:
# alternative method, a bit more dynamic and to fulfil the request more reliably
df.loc[
    (df["Value"] == 274) &
    (df["char_count"] == df.loc[df["Value"]==274, "char_count"].min())
]

                      char_count  Value  value_ratio
Word
overprotectivenesses          20    274         13.7

### Create a column ratio which represents the value ratio of a word
Defined as the value divided by the word's length.

In [128]:
df["value_ratio"] = df["Value"] / df["char_count"]

In [134]:
df.head()

        char_count  Value  value_ratio
Word
aa               2      2     1.000000
aah              3     10     3.333333
aahed            5     19     3.800000
aahing           6     40     6.666667
aahs             4     29     7.250000

In [138]:
df["value_ratio"].describe()

count    172823.000000
mean         11.825118
std           2.205681
min           1.000000
25%          10.400000
50%          11.875000
75%          13.285714
max          22.500000
Name: value_ratio, dtype: float64

In [158]:
# word with the highest value_ratio?
df.loc[
    df["value_ratio"] == df["value_ratio"].max()
]
# what this is doing: locate the index (word) where
# the value_ratio column is equal to the 
# maximum value of the value_ratio column

      char_count  Value  value_ratio
Word
xu             2     45         22.5

In [192]:
# how many words have value_ratio of 10?
len(df[df["value_ratio"] == 10]) # gives me the answer straight away.
df.loc[df["value_ratio"]==10].shape # gives me the answer too, but from a different angle

(2604, 3)

In [198]:
# the query method allows you to write a query-like statement in almost-plain English.
# usable for very simple conditions, but probably difficult to use for more complicated ones.
df.query("value_ratio == 10").shape

(2604, 3)

In [202]:
# what is the max value of all the words with a value_ratio of 10?
df.loc[df["value_ratio"]==10].sort_values(by="Value", ascending=False).head()

# or
df.loc[df["value_ratio"]==10, "Value"].max() # gives the direct result

240

In [212]:
# of the words with a value of 260, what is the lowest char_count found?
df.loc[df["Value"] == 260, "char_count"].min()

# and if I want to see the word, too
df.loc[
    (df["Value"] == 260) & 
    (df["char_count"] == df.loc[df["Value"] == 260, "char_count"].min())
]

                   char_count  Value  value_ratio
Word
hydroxytryptamine          17    260    15.294118